<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About this project</h2>
    <p>This project is a culmination of my journey into web development using Node.js and Express. Through hands-on experience, I've gained insights into Express routing, controllers, and the MVC architecture. Working with MongoDB and Mongoose, I've learned the ropes of database management. EJS views have empowered me to create dynamic interfaces, while middleware has enhanced the functionality and security of my applications. Join me as I continue to explore and expand my skills in this exciting field of development.</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>

</html>